.colorpaletteitem-component {
    position: relative;
    float: left;
    padding-bottom: 10%;
    min-width: 50px;
    width: 10%;
    border-radius: 0;
    color: #fff;
    transition: border-radius 0.5s ease 0s,
                transform 0.25s ease 0s;
    transform: scale(1);
}

.colorpaletteitem-component:hover {
    z-index: 2;
    border-radius: 50%;
    transform: scale(1.5);
}

.colorpaletteitem-component.selected {
    z-index: 1;
    box-shadow: inset 0 0 0 2px #000,
                inset 0 0 0 4px #fff;
}
