.palettepanel-component {
    .twocols-component {
        .form-group {
            margin: 0 0 0 1em;
            float: right;
        }

        .checkbox {
            margin: 0;
        }
    }
}
